body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    width: 100%;
}

#defaultContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, #gifContainer {
    color: white;
    font-size: 148px;
    text-align: center;
    animation: fadeInUp 6s ease forwards;
}

button {
    background-color: rgb(196, 126, 35);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    animation: fadeIn 2s ease forwards; 
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 15px;
    }
    
    button {
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 100px;
    }
    
    button {
        font-size: 50px;
    }
}

.gif-class, #default_quote {
    animation: infiniteLoop 5s infinite; /* 1s puede ser el tiempo que dura tu GIF, ajusta según sea necesario */
}

@keyframes infiniteLoop {
    from {
        opacity: 0.99; /* Valores ligeramente menores que 1 para evitar problemas de rendimiento en algunos navegadores */
    }
    to {
        opacity: 1;
    }
}